#nombrerol{
    padding: 4px 2px; 
    border: 1px solid #aaa;
    background: #fff;
    width: 30%;
    resize: none;
    vertical-align:top;
}
#nombrerol:invalid:focus{
    border: 3px solid rgba(255, 0, 0, 0.473);
}
#label2{
    display: inline-block;
    width: 8em;
}