#formSolicitud{
  left: 350px;
    width: 50%;
    height: auto;
    position: relative;
	-webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	margin: 10px;
  padding: 0;
  background: rgb(221, 248, 239);
  font-family: arial, helvetica, sans-serif;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
#motivoText{
  padding: 4px 2px; 
    border: 1px solid #aaa;
    background: #fff;
    width: 30%;
    resize: none;
    vertical-align:top;
}