#inflog{
    padding: 4px 2px; 
    border: 1px solid #aaa;
    background: #fff;
    width: 50%;
    resize: none;
    vertical-align:top;
}
#infper{
    padding: 4px 2px; 
    border: 1px solid #aaa;
    background: #fff;
    width: 35%;
    resize: none;
    vertical-align:top;
}
#Rol{
    padding: 4px 2px; 
    border: 1px solid #aaa;
    background: #fff;
    width: 15%;
    resize: none;
    vertical-align:top;
}